<div id="<%= dom_id publication %>">
  <p>
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= publication.author %>
  </p>

  <p>
    <strong>Desciption:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong><Label></Label>:</strong>
    <%= publication.label_id %>
  </p>

</div>
