<div class="card border-info mb-3" style="max-width: 18rem;" id="<%= dom_id article %>">
  <div class="card-header"><p><strong>Name:</strong><%= article.name %></p></div>
  <div class="card-body">
    <h5 class="card-title">  <p><strong>Description:</strong><%= article.description %></p>
  <p><strong>Author:</strong><%= article.author %></p>
</h5>
    <p class="card-text"><p> <%= link_to article do %>
      <% if article.photo.attached? %>
      <%= image_tag article.photo.variant(:thumb) %>
      <% else %><%= image_tag 'LFunck.gif' %><% end %><% end %></p>
  <p>
    <% article.images.each do |image| %>
    <%= image_tag image.variant(resize_to_fill: [100, 100]) %><% end %>
  </p></p>
  </div> 