<p style="color: green"><%= notice %></p>

<h1>Lista de actuales usuarios registrados</h1>

<div id="usuarios">
  <%# <% @users.each do |user| %>
    <%#= render user %>
    <p>   listar aqui a los usuarios   </p>
  <%# end %>
</div>
<hr>
<h1>Servicios</h1>
<hr>
<div>
<h2>Backend</h2>
<%= image_tag '1.jpg' %>
<ul>
<li> Diseño de Productos Digitales.</li>
<li> Diseño de Aplicaciones web.</li>
<hr>
</ul></div>
<div></div>
<h2> UX/UI</h2>
<%= image_tag '2.jpg' %>
<ul>
<li> Diseño de Experiencias de Usuarios</li>
<li> Diseño de Interfaz de Usuarios</li>
<hr>
</ul></div>
<div></div>
<h2> Web Pages</h2>
<%= image_tag '3.jpg' %>
<ul>
<li> Diseño de Paginas Web estaticas</li>
<li> Diseño de paginas de tiendas, fotografias, vinculos a redes sociales y Whatsapp</li>
<li> Diseño de paginas web responsivas para ser vistas en cualquier dispositivo</li>
<hr>
</ul></div>
<div>
<h2> Mockup</h2>
<%= image_tag '4.jpg' %>
<ul>
<li> Diseños de maquetas de tu aplicacion o página</li>
<li> Diseño de todas las vistas y con interaccion tiempo real</li>
</ul></div>
<div>
